<div class="navbar">
  <div class="navbar-left">

    <div class="navbar-logo">
      <%= link_to root_path do %>
        <%= image_tag "favicon.png" %>
      <% end %>
    </div>

    <div class="navbar-brand">
      <p>TicTacToe</p>
    </div>

    <div id="navbar-new">
      <%= link_to "Start Game", new_game_path , class: "navbar-link" %>
    </div>
  </div>
</div>
