<div class='container'>
  <h1>Game Rules</h1>
  <h3>1. Are you ready to play the gamne? Click the "START" below.</h3>
  <h3>2. Click "Start Game" tp start.</h3>
  <h3>3. Play again? Click the "Reset" on the upright before you hit "Start Game."  </h3>
  <h2 class='btn btn-primary'><%=link_to "START", new_game_path %></h2>
</div>
