// Graphical variables
@import "config/fonts";
@import "config/colours";
@import "config/bootstrap_variables";

@import "components/index";


/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
